*{
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --primary-color: skyblue;
    --secondary-color: coral;
  }
html, body{
    height: 100%;
}
/* Layout */
.layout{
    min-height: 100%;
    background:
	linear-gradient(limegreen,transparent),
	linear-gradient(90deg,var(--primary-color),transparent),
	linear-gradient(-90deg,var(--secondary-color),transparent);
    background-blend-mode: screen;
    display: grid;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-columns: 2fr 5fr 3fr;
    grid-template-areas: 
        "header header header"
        "main main main"
        "footer footer footer";
    grid-gap: .75em;
}
/* header */
header{
    background: var(--primary-color);
    text-align: center;
    grid-area: header;
    color: white;
}
/* main */
main{
    text-align: center;
    grid-area: main;
}
main p{
    font-size: 20px;
    animation-duration: 3s;
    animation-name: slidein;
}
  
@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%;
    }
  
    75% {
      font-size: 300%;
      margin-left: 25%;
      width: 150%;
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
}
main .button {
    background-color: transparent;
    border: 3px solid var(--secondary-color);
    color: var(--secondary-color);
    transition: .3s;
    width: 170px;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 600;
    cursor: pointer;
    display: inline-block;
    margin-bottom: 15px;
    margin-top: 10px;
}
main .button:hover {
    animation: pulse 1s infinite;
    transition: .3s;
}
@keyframes pulse {
    0% {
      transform: scale(1);
    }
    70% {
      transform: scale(.9);
    }
      100% {
      transform: scale(1);
    }
}
/* footer */
footer{
    background: var(--secondary-color);
    bottom: 0px;
    text-align: center;
    grid-area: footer; 
}
/* media query */
@media (max-width:768px) {
    main .button{
        padding-top: 20px;
        padding-bottom: 20px;
    }
    main p{
        font-size: 18px;
    }
}
@media (max-width:480px) {
    .layout{
        display: block;
    }
    main .button{
        padding-top: 15px;
        padding-bottom: 15px;
    }
    main p{
        font-size: 15px;
    }
}
